.wrapper{
    width:100%;
}
.wrapper .container{
    padding-top:10px;
}
.wrapper .container .hero-section{
    width:80%;
    margin:0 auto;
    padding-top:50px;
    display:grid;
    grid-template-columns:(3, 1fr);
    grid-gap:35px;
}
.wrapper .container .hero-section .gallery{
    width:100%;
    position:relative;
}
.wrapper .container .hero-section .gallery .image-section{
    width:100%;
}
.wrapper .container .hero-section .gallery .image-section img{
    width:100%;
    height:auto;
    border:1px solid #eaeaea
    display:block;
}
.wrapper .container .hero-section .gallery .caption{
    width:100%;
    height:100%
    position:absolute;
    padding:15px;
    top:0;
    left:0;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    background: linear-gradient(180deg, rgba(55, 108, 251, 0.86) 0%, rgba(31, 0, 91, 0.86) 96.77%);
    opacity:0;
    transition:opacity 0.30s;
}
.wrapper .container .hero-section .gallery .caption:hover{
    opacity:1;
}
